@charset "utf-8";

/* common font-family */
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css');

@font-face {
  font-family: 'S-CoreDream-3Light';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'S-CoreDream-3Light', 'Pretendard', sans-serif;
}

a,
a:hover,
a:active,
a:visited {
  text-decoration: none;
  color: #494949;
}

li {
  list-style: none;
}

html {
  overflow-y: scroll;
  background-color: #f9f9f9;
}

body {
  color: #333;
}

/* 전역 변수 선언 */
:root {
  --box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.05);
}

:global(#root) {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.nav,
.footer {
  flex: none;
}

.body {
  position: relative;
  flex-grow: 1;
  margin: 10px 0;
}
