.state-practice {
  padding-top: 48px;
  gap: 48px;
  > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding: 24px;
    width: 30%;
    border-radius: 5px;
    box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
      0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
  }
}

.counter {
  div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    button {
      padding: 8px;
      font-size: 16px;
    }
  }
}
