@charset "utf-8";

header {
  padding: 32px 0;
}

.container {
  display: flex;
  align-items: start;
  gap: 24px;
  margin-top: 24px;
  width: 100%;
  max-width: 1000px;
}

nav {
  padding: 24px;
  width: 30%;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 70%;
}

li > a {
  display: block;
  padding: 8px;
  transition: 0.3s;
}
li > a:hover {
  opacity: 0.5;
}
