.list {
  overflow-x: hidden;
  overflow-y: scroll;
  max-height: 255px;

  &::-webkit-scrollbar {
    width: 4px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #a9abac;
  }
}

.noCart {
  display: block;
  padding: 16px 0;
  text-align: center;
  font-size: 14px;
  color: #a9abac;
}
