@charset "utf-8";

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
  background-color: #f9f9f9;
}

a,
a:hover,
a:active,
a:visited {
  color: #494949;
  text-decoration: none;
}

li {
  list-style: none;
}

:root {
  --box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.05);
}

:global(#root) {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.nav,
.footer {
  flex: none;
}

.body {
  position: relative;
  flex-grow: 1;
}
