.list-item {
  display: flex;
  align-items: center;
  gap: 20px;
}

.list-item-img {
  width: 182px;
  height: 262px;
  object-fit: cover;
  border-radius: 15px;
}

.list-item-rows {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 22px 0 18px;
  gap: 10px;
}
.list-item-rows .rating-star {
  cursor: default;
}

.list-item-title {
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 20px;
}

.list-item-date {
  margin-bottom: 5px;
  color: #bdbdbd;
  font-size: 14px;
  letter-spacing: -0.25px;
}

.list-item-content {
  flex: 1 1;
  margin-bottom: 5px;
  overflow: hidden;
  color: #545357;
  font-size: 16px;
  letter-spacing: -0.2px;
}

.list-item-btns {
  display: flex;
  justify-content: right;
  gap: 20px;
}
.list-item-edit-btn,
.list-item-delete-btn {
  padding: 10px;
  font-size: 16px;
  letter-spacing: -0.28px;
}

.list-item-delete-btn {
  color: #ff0023;
}

.review-list > li {
  padding: 30px 0;
  border-bottom: 1px dashed #c5c5c5;
}
.review-list > li:first-child {
  padding-top: 0;
}
