.main {
  overflow-y: auto;
  flex: 1 1;
  padding: 10px;
}

.main::-webkit-scrollbar {
  width: 0.6rem;
}
.main::-webkit-scrollbar-thumb {
  border-radius: 9999px;
  background-color: #869aa6;
}

.form {
  flex: none;
  display: flex;
  width: 100%;
  max-width: 450px;
  height: 8vh;
  font-size: 1.5rem;
  background-color: #ffec42;
}

.form input {
  padding: 16px;
  width: 100%;
  font-size: 1rem;
  background-color: #fff;
  color: #262626;
}

.form button {
  flex: none;
  width: 20%;
  font-size: 1rem;
  background-color: #ffec42;
}
.form button > svg {
  vertical-align: middle;
}

.form button:disabled {
  cursor: not-allowed;
}
