header {
  display: flex;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid #e2e2e2;
}
header > div {
  display: flex;
}

header .text {
  justify-content: center;
  width: 50%;
  font-size: 25px;
}

header .leftBtn {
  justify-content: start;
  width: 25%;
}

header .rightBtn {
  justify-content: end;
  width: 25%;
}
