.color-input-container {
  position: relative;
  width: 100%;
}
.color-input {
  padding: 16px;
  width: 100%;
  font-size: 24px;
  border: 2px solid #e7ebf2;
  border-radius: 16px;
  outline: 0;
  color: #8892a6;
  transition: 0.2s;
}
.color-input:hover {
  background-color: #f4f7fb;
}
.color-input:focus {
  border: 2px solid #464e5e;
  box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.15);
}
.color-input-chip {
  position: absolute;
  top: 50%;
  right: 14px;
  width: 40px;
  height: 40px;
  border: 2px solid #e7ebf2;
  border-radius: 8px;
  transform: translateY(-50%);
  cursor: pointer;
}
